/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #82c3e9;;
}
header h1 {margin: 0;}
header h2 {margin: 0; font-weight: normal;}

input[type=text] {
    float: right;
    padding: 8px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 14px;
  }
/*----------- NAVIGATION --------------*/

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

nav ul li a {
    display: block;
    background-color: #0075b9;
    color: #eee;
    border-left: 1px solid #777;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}
nav ul li:first-child a {border-left: none;}

nav ul li a:hover {
    background-color: #092a3d;
    color: #fff;
}
nav ul li.active a {
    background-color: #000;
    color: #fff;
}

/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}

/*-Lawyer Grid-*/
div.flexed{display: flex; flex-wrap:wrap;}
.column{padding: 0 $gutter; max-width: 200px;}
@for $i from 1 through 12{
    $w:($i / 12) * 100%;
    .small-#{$i} {flex-basis: $w;}
}

.name{text-align: center;}
.biography{display: block; margin-right: auto; margin-left: auto;}

figure{display: block; margin-right: auto; margin-left: auto;}

/*MIDDLE BUTTONS*/
button.clientButton{
    background-color: #0075b9; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 2%;

}
button.clientButton:hover{
    background-color: #092a3d;
    color: white;
}

/*-------Blogs--------*/
.blog{
    padding: 2%;
}

/*----------- FOOTER --------------*/
footer {
    background-color: #82c3e9;
    padding: .5rem 2%;
    text-align: center;
}
footer i{
    font-size: 2rem;
    margin: 0 2rem;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}